*.log
*~
.#*
.DS_Store
.mc-lists.el
*.elc
.org-id-locations
/auto-save-list
thumbs/
/eshell

/tramp
/under-construction
/url
/var
\#*
\#*\#
ac-comphist*
auto-save-list/*
custom.el
emacs-config.el
org-clock-save.el
/ramen.ogg
/misc
/private
/emms
/node-*

/.python-environments/
/places
/org-clock-save_flymake.el
/.directory
/image-dired/
/lisps/emacs-calfw/
/lisps/org-ioslide/
/lisps/powerline/
/elpa/*.txt
recentf
*.cache
/tldr/
/todo/
/tutorial/
/bookmarks
*.eld
/elpa/archives/
